.footer {
  background-color: #f8f8f8;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  padding: 120px 120px;
  box-sizing: border-box;
}
.ftdiv1 {
  display: flex;
  gap: 20px;
}
.logo1 {
  width: 111px;
  height: 111px;
}
.imgNp {
  display: flex;
  flex-direction: column;
  flex: 3;
  padding-right: 50px;
}
.imgNp .paragraph {
  color: #3d3d3d;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  padding-left: 30px;
  max-width: 500px;
}
.what_we_do {
  color: black;
  flex: 2;
  text-align: left;
  padding-top: 24px;
}
.what_we_do .what_we_do_header {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
}

.what_we_do .what_we_do_section {
  padding-top: 33px;
}
.what_we_do .what_we_do_section .what_we_do_item {
  font-weight: 500;
  font-size: 18px;
  margin: 7px 0px 7px 0px;
  color: #4f4f4f;
}
.what_we_do p {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 7px 0px 7px 0px;
  color: #4f4f4f;
}

.get_in_touch {
  flex: 2;
  padding-top: 24px;
  padding-left: 24px;
  text-align: left;
}
.get_in_touch .get_in_touch_header {
  padding-bottom: 33px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #4f4f4f;
}
.get_in_touch p {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 7px 0px 7px 0px;
  color: #4f4f4f;
}

#h21 {
  padding-right: 0;
}
.ftdiv2 {
  display: flex;
  justify-content: space-between;
}
.ftdiv2 .social_media {
  display: flex;
  flex: 1;
  padding-top: 35px;
  padding-left: 30px;
}
.ftdiv2 .social_media .social_media_icon {
  padding-right: 26px;
  list-style-type: none;
}
.ftdiv2 .social_media .social_media_icon img {
  width: 29px;
  height: 29px;
}
.ig {
  width: 34px;
  height: 34px;
}
.ftdiv2 .navigation_link {
  margin: 0%;
  padding: 0%;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.navigation_links {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.ftmob {
  display: none;
}

@media only screen and (max-width: 600px) {
  .footer {
    height: auto;
    padding: 24px;
    margin-top: 0px;
    width: -webkit-fill-available;
  }

  .ftdiv1,
  .ftdiv2 {
    display: none;
  }
  .ftmob {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }
  .ftmob img.logo1 {
    margin: auto;
    padding: unset;
  }

  .ftmob .social_media {
    display: flex;
  }
  .ftmob .social_media .social_media_icon {
    padding-right: 26px;
    list-style-type: none;
  }
  .ftmob .social_media .social_media_icon img {
    width: 24px;
    height: 24px;
  }
}
